body {
          background: wheat;
          width: 100%;
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: center;
}

#container {
          overflow: visible;
          border-radius: 13px;
          background: #000;
          height: 60vh;
          width: 20vw;
          padding: 20px;

}

#text_container {
          width: 100%;
          height: 17%;

}

input {
          width: 100%;
          height: 100%;
          border: none;
          background: #333333;
}

#keypad_container {

          height: 83%;
          background: #262626;
          display: grid;
          grid-template-columns: 1fr 3fr;
}

#symbol_container {
          background: blue;
          padding: 10px;
          display: grid;
          gap: 20px;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

}

#number_container {
          gap: 20px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
          padding: 10px;
          background: red;
}

.symbols {
          background: #fe9f1a;
}

.number {
          background: #4d4d4d;
}

button {
          height: 100%;
          width: 100%;
          border: none;
          color: white;
          border-radius: 100px;
}